<div class="container">
  <h1> Create Parking Zone</h1>
  <%= form_with model: @new_parking_zone, url: create_parking_zone_path, method: :post, class: 'mt-3' do |form| %>
    <div class="form-group">
      <%= form.label :number_of_parking_slots, "Number of Parking Spots" %>
      <%= form.number_field :number_of_parking_slots, class: 'form-control', required: true %>
    </div>
    <br>
    <%= form.submit "Create Parking Zone", class: 'btn btn-primary' %>
  <% end %>
</div>
