<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to "ParkingSpots", parking_spots_path, class: "btn btn-primary" %>
    <%= link_to "Registration Numbers by Color", registration_numbers_by_color_path, class: "btn btn-primary" %>
    <%= link_to "Ticket Numbers by Color", ticket_numbers_by_color_path, class: "btn btn-primary" %>
    <%= link_to "Ticket Number by Registration Number", ticket_number_by_registration_number_path, class: "btn btn-primary" %>
  </div>
</nav>
<br>
